body{
	font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
}


.header{
	background-color: #dddbdb;
    position:fixed;
    top:0;
    left: 0;
    right: 0;
    width:100%;
    z-index:100;
    padding-left: 45px;
    padding-right: 45px;
}

.main{
	padding: 0 70px 0 70px;
	margin: 0 70px 0 70px;
	background-color: #fff;
}

.my-first-name{
	display: inline;
}

.my-last-name{
	display: inline;
	color: red;
}

.header .image{
	position: absolute;
	right: 160px;
	width: 120px;
	height: 104.5px;
	top: 0;
}

.my-contact span{
	background-color: black;
	color: white;
}

.pro-summary p{
	padding-left: 20px;
}

.content{
	margin-top: 140px; 

}

.content li:before, ul{
	content: "• ";
	list-style-type: none;
}

.content h3{
	color: red; 
}

.work-experience-details{
	padding-left: 20px;
	line-height: 30px;

}

.work-experience-details p{
	font-weight: bold;
	line-height: 5px;
}

.date{
	float: right;
}

.education p{
	padding-left: 20px;
	font-weight: bold;
	line-height: 5px;
}

.education table{
	width: 100%;
}

.skills ul{
	columns: 2;
	line-height: 30px;
}

.trainings{
	line-height: 30px;
}

.references table{
	width: 100%;
	text-align: left;
	line-height: 30px;
}

footer{
	background-color: #dddbdb;
}

footer img{
	width: 25px;
	height: 25px;
}
